@mixin flexCenter($flexDirection) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: center;
  align-items: center;
}

@mixin cm_placeholder($color, $size) {
  &::-webkit-input-placeholder {
    color: $color;
    font-weight: 100;
    font-size: $size;
  } /* WebKit, Blink, Edge */
  &:-moz-placeholder {
    color: $color;
    font-weight: 100;
    font-size: $size;
  } /* Mozilla Firefox 4 to 18 */
  &::-moz-placeholder {
    color: $color;
    font-weight: 100;
    font-size: $size;
  } /* Mozilla Firefox 19+ */
  &:-ms-input-placeholder {
    color: $color;
    font-weight: 100;
    font-size: $size;
  } /* Internet Explorer 10-11 */
  &::-ms-input-placeholder {
    color: $color;
    font-weight: 100;
    font-size: $size;
  } /* Microsoft Edge */
}

@mixin backgroundTest {
  &::after {
    content: "test mixin";
    background: yellow;
  }
}
