@import "common";

.home-page-1 {
  @include flexCenter(column);
  height: 100%;
  h1 {
    font-weight: 100;
    font-weight: 100;
    text-align: center;
    margin: 0% 10% 10% 10%;
    transition: all 3s linear;
    min-height: 20px;
  }
}
