@import "common";

.login-container {
  @include flexCenter(column);
  height: 100%;
}

.cm-input {
  @include cm_placeholder(rgb(189, 189, 189), 14px);
  border: 1px solid rgb(179, 179, 179);
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: "cm-font";
  text-align: center;
  &:focus {
    outline: none;
  }
}
